[Unit]
Description=python honeypot server
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/python3 /usr/sbin/honeypot.py

[Install]
WantedBy=multi-user.target
